<div style="margin-bottom: 5px;">
  <input [(ngModel)]="searchVal" style="width: 40%;" type="text" placeholder="Search by Title" />&nbsp;
  <button (click)="search()"> Search</button>
</div>
<div *ngIf="showSpinner()" class="ring-spinner"></div>

<table *ngIf="!showSpinner()"  class="data-table">
  <thead>
    <tr>
      <th style="width: 50px;">Sr No.</th>
      <th>Id</th>
      <th>Title</th>
      <th>URL</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let item of pageData;let i=index">
    <tr>
      <td>{{(pageSize*pageNumber)+(i+1)}}</td>
      <td>{{item.id}}</td>
      <td>{{item.title}}</td>
      <td>{{item.url}}</td>
    </tr>
  </ng-container>
  </tbody>
  <tfoot>
    <tr>
      
      <td colspan="4"><button [disabled]="pageNumber==0" (click)="prev()">Prev</button>&nbsp;&nbsp;<button  [disabled]="!((pageNumber+1)*pageSize<totalCount)" (click)="next()">Next</button></td>
    </tr>
  </tfoot>
</table>